/include/ "system-conf.dtsi"
/ {
};

&amba {
    zyxclmm_drm {
        compatible = "xlnx,zocl";
        status = "okay";
    };
};

/* SD0 only supports 3.3V, no level shifter */
&sdhci0 {
	no-1-8-v;
	disable-wp;
};

&usb0 {
    status = "okay";
};

&dwc3_0 {
    status = "okay";
    dr_mode = "peripheral";
    phy-names = "usb3-phy";
    phys = <&lane2 4 0 0 26000000>;
    maximum-speed = "super-speed";   
};

&usb1 {
    status = "okay";
};

&dwc3_1 {
    status = "okay";
    dr_mode = "host";
    phy-names = "usb3-phy";
    phys = <&lane3 4 1 0 26000000>;
    maximum-speed = "super-speed";
};

&spi0 {
    is-decoded-cs = <0>;
    num-cs = <1>;
    status = "okay";
    spidev@0x00 {
        compatible = "rohm,dh2228fv";
        spi-max-frequency = <1000000>;
        reg = <0>;
    };
};

