/include/ "system-conf.dtsi"
/ {
};

&amba {
    zyxclmm_drm {
        compatible = "xlnx,zocl";
        status = "okay";
    };
};

/* SD0 only supports 3.3V, no level shifter */
&sdhci0 {
	no-1-8-v;
	disable-wp;
};

